<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
<ion-header>
  <ion-toolbar color="success">
    <ion-title>Forgot password</ion-title>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="login" text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
	<form (ngSubmit)="getotp()">
	<h1>Forgot password?</h1>
	<img src="../assets/images/lock.png" style="height: 100px; width: 100px; display: block;
  margin-left: auto;
  margin-right: auto;">
	<p style="text-align: center; font-family: 'Lato', sans-serif; font-size: 15px;">We just need your registered contact no to send you a verifcation code</p>
	<ion-grid>
		<ion-row>
			<ion-col>
				<ion-item>
					<ion-label position="floating"><ion-icon name="call" slot="start"></ion-icon>  Contact No</ion-label>
					<ion-input type="tel" maxlength="10" pattern="[0-9]*" name="phone" [(ngModel)]="phone" [class.error1]='!valid' (ionChange)="validInput()"></ion-input>
				 </ion-item>
				 <ion-item no-lines *ngIf='!valid'>
					<div class="error">
						Please Enter your 10 Digit Contact no
					  </div>
				 </ion-item>
			</ion-col>
		</ion-row>
	</ion-grid>
	<ion-grid>
		<ion-row>
			<ion-col size="3"></ion-col>
			<ion-col>
				<ion-button type="submit" color="tertiary" expand="block">Get OTP</ion-button>
			</ion-col>
			<ion-col size="3"></ion-col>
		</ion-row>
	</ion-grid>
	</form>
</ion-content>
