
	ion-input {

        border: solid 1px #ddd;
        border-radius: 10px;
       
        }
  
        p{
        text-align:center;
        font-size:14px;
  
        }
  
   a, u{
   text-decoration:none;
   
   }
   a{
   text-align:center;
   font-size:14px;
   }   
   
   .pclass{
        font-family: 'Lato', sans-serif;
        margin-bottom: -11px;
   }