<ion-header>
  <ion-toolbar color="success">
    <ion-title>New Password</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login" text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-item>
      <ion-label position="floating"><ion-icon slot="start" name="lock"></ion-icon>New Password</ion-label>
      <ion-input type="text" minlength="8" name="pass1" [(ngModel)]="password.pass1" (ionChange)="validInputs1()"></ion-input>
    </ion-item>
    <ion-item no-lines *ngIf='!passvalid1 || !passvalid11'>
      <div class="error" *ngIf='!passvalid1'>
        Please enter your new password
        </div>
        <div class="error"*ngIf='!passvalid11'>
          password must be 8 and more digits
          </div>
     </ion-item>
    <ion-item>
      <ion-label position="floating"><ion-icon slot="start" name="lock"></ion-icon>Confirm Password</ion-label>
      <ion-input type="text" minlength="8" name="pass2" [(ngModel)]="password.pass2" (ionChange)="validInputs2()"></ion-input>
    </ion-item>
    <ion-item no-lines *ngIf='!passmatch || !passvalid2'>
      <div class="error" *ngIf='!passmatch'>
        password are not match
        </div>
        <div class="error" *ngIf='!passvalid2'>
          confirm password must be 8 and more digits
          </div>
     </ion-item>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col size="3"></ion-col>
      <ion-col><ion-button expand="block" color="success" (click)="resetpassword()">Reset</ion-button></ion-col>
      <ion-col size="3"></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
