h1{
	font-family: 'Pacifico', cursive;
	text-align: center;
	padding-top: 30px;
}
a, u {
    text-decoration: none;
    text-align: center;
    color: black;
}
a:hover{
	color:  #10dc60;
}

.error{
	color: rgb(223, 62, 62);
    font-size: 11px;
}

.href{
	font-family: 'Lato', sans-serif;
}

.href:hover{
	color: #10dc60;
}