<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
<ion-header>
  <ion-toolbar color="success">
  	<ion-title>Order Confirmation</ion-title>
     <!-- <ion-buttons slot="start">
        <ion-back-button defaultHref="home" text="" icon="close"></ion-back-button>
      </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="data">
	<ion-grid>
		<ion-row class="mt">
			<ion-col size="4"></ion-col>
			<ion-col>
				<ion-img src="../assets/images/confirm.png"></ion-img>
			</ion-col>
			<ion-col size="4"></ion-col>
		</ion-row>
		<h3>Order is placed!!</h3>
		<ion-row>
			<ion-col size="12" class="col-bd">
				<p class="p-heading">Order Details</p>
			</ion-col>
			<ion-col size="6">
				<p>Order no</p>
			</ion-col>
			<ion-col size="6">
				<p class="p">#123123</p>
			</ion-col>
			<ion-col size="6">
				<p>Order Date</p>
			</ion-col>
			<ion-col size="6">
				<p class="p">23/1/2020</p>
			</ion-col>
			<ion-col size="6">
				<p>Customer name</p>
			</ion-col>
			<ion-col size="6">
				<p class="p">Mr.XXXXX</p>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col size="12" class="col-bd">
				<p class="p-heading">Shipping & Payment Details</p>
			</ion-col>
			<ion-col size="6">
				<p>Shipping Address</p>
			</ion-col>
			<ion-col size="6">
				<p class="p">XXXX</p>
			</ion-col>
			<ion-col size="6">
				<p>Payment Mode</p>
			</ion-col>
			<ion-col size="6">
				<p class="p">COD</p>
			</ion-col>
		</ion-row>
		
	</ion-grid>
		
</ion-content>
<ion-footer>
	<ion-button class="btn-clr" expand="block" size="medium" [routerDirection]="'root'" [routerLink]="['/home']">Continue shopping</ion-button>
</ion-footer>
