h4{
	font-size: 13px;
	padding-top: 10px;
}
h1{
	font-family:'Lato', sans-serif;
	font-size:23px;
	text-align: center;
}
p.address_font{
	font-family:'Lato', sans-serif;
	font-size:14px;
	text-align: center;
}
.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
ion-item {
    --background: rgba(0,0,0,0);
    --border-color: rgba(0,0,0,0);
}
.qty_value{
	width: 5px;
}
.card-size{
	height: 107px;
}
.counter-padding{
	margin-top: 70px;
}
.price-margin{
	margin-bottom: 5px;
}

.margin-top-left
{
	margin-top: 70px;
}

.margin{
    margin-top: 35px;
}
.font{
    font-family: 'Lato', sans-serif;
    color: #918d8d;
	text-align: center;
	font-size: 15px;
}

.text-black
{
	color: black;
}