.margin{
	margin-top: 50px;
}
.btn_center{
	display: inline-block;
	margin-top: 9px;

}
.input{
	border: 1px solid black;

}
.speaker{
	margin-top: 25px;
	width: 85%;
    margin-left: 10%;
}
.row_margin{
	margin-top: 25px;
}
.heading{
	font-size: 20px;
	font-weight: bold;
	color: rgba(0, 0, 0, 0.73);
	text-align: center;
	margin: 0;
	margin-top: 5%;
	font-family:'Lato', sans-serif;
}
.subtitle{
	font-size: 15px;
	color: rgba(0, 0, 0, 0.73);
	text-align: center;
	margin: 0;
	font-family:'Lato', sans-serif;
}
.card{
	height: 30%;
    box-shadow: none;
  	border: 2px solid rgba(0, 0, 0, 0.07);
    border-radius: 4px;
}

.icons{
	margin-left: 35%;
    margin-top: 10%;
    // height: 108%;
    // width: 115%;
}
// .tg-icon{
// 	height: 80%;
//     width: 80%;
//     margin-left: 44%;
// }
.item{
	    margin-right: 5%;
}
.invite{
	margin-left: 8%;
    font-size: 18px;
    margin-top: 8%;
    font-family:'Lato', sans-serif;
}
.right-arrow{

    margin-top: 70%;
}