<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
<ion-header>
  <ion-toolbar color="success">
    <ion-title>Add Payment option</ion-title>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="mywallet" text="" icon="close"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
	<ion-list>
	<ion-item>
      <ion-radio slot="start" value="biff" checked></ion-radio>
      <ion-label>Punjab national bank<p>787XXXX7987</p></ion-label>
    </ion-item>
	</ion-list>
	<ion-grid>
		<ion-row>
			<ion-col>
				<ion-button color="success" expand="block" href="payment-confirmation">Pay</ion-button>
			</ion-col>
		</ion-row>
	</ion-grid>
	</ion-content>
